ifcopenshell==0.8.4
numpy==1.26.4
pyvista==0.45.3
PyYAML==6.0.1
shapely==2.0.4
psycopg2==2.9.9
pyproj==3.6.1
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
pydantic-yaml==1.5.1
requests==2.32.4
celery[redis]==5.5.3
redis==5.2.1
lxml==6.0.0
pytest==8.4.2